<div class="lux">
  <div class="deployment-version" >
    <text-style variation="strong">
      Version:
      <% @version = VersionFooter.info %>
      <% if @version[:stale] %>
        (stale)
      <% end %>
      <span title="<%= @version[:sha] %>">
        <% if @version[:tagged_release] %>
          <a href="https://github.com/pulibrary/pdc_discovery/releases/tag/<%= @version[:branch] %>" target="_blank"><%= @version[:branch] %></a>
        <% else %>
          <%= @version[:branch] %>,
        <% end %>
        last updated: <%= @version[:version] %>
      </span>
    </text-style>
  </div>
  <div id="footer">
    <div class="content">
      <%= link_to(image_tag("pul_logo_0.png", alt: "Princeton University Library"), "https://library.princeton.edu", target: "blank") %>
      <%= link_to(image_tag("footer_logo.png", alt: "Princeton Research Data Service"), "https://researchdata.princeton.edu", target: "blank") %>
      <%= link_to(image_tag("princeton_research_logo_2.png", alt: "Office for the Dean of Research"), "https://research.princeton.edu", target: "blank") %>
      <%= link_to(image_tag("princeton_logo.png", alt: "Princeton University"), "https://www.princeton.edu", target: "blank") %>
    </div>
  </div>
  <div id="copyright">
    &copy; <%= Date.current.year %> The Trustees of Princeton University
  </div>
</div>
