<div class="lux">
  <div class="deployment-version" >
    <text-style variation="strong">
      Version:
      <% @version = VersionFooter.info %>
      <% if @version[:stale] %>
        (stale)
      <% end %>
      <span title="<%= @version[:sha] %>">
        <% if @version[:tagged_release] %>
          <a href="https://github.com/pulibrary/pdc_discovery/releases/tag/<%= @version[:branch] %>" target="_blank"><%= @version[:branch] %></a>
        <% else %>
          <%= @version[:branch] %>,
        <% end %>
        last updated: <%= @version[:version] %>
      </span>
    </text-style>
  </div>
  <library-footer></library-footer>
</div>
