<h2>How to Submit to Princeton’s Research Data Repository</h2>

<h3>Who can submit to DataSpace?</h3>
<p>All faculty, staff, students, and affiliates of Princeton University are welcome to submit their digital research products to Princeton’s Research Data Repository.</p>

<h3>Steps to get started</h3>
<ol>
  <li>
    Sign into the repository to establish a username and password for the first time. 
    To do this, navigate to <a href="https://dataspace.princeton.edu">https://dataspace.princeton.edu</a> 
    and log in with your University ID (NetID).
  </li>

  <li>
    Then fill out this quick <%= link_to 'setup questionnaire', 'https://forms.gle/Agif28rNqGjQyacu7' %>. 
    This allows the data curators to prepare for your particular needs. Depending on the size and complexity of your data, 
    your submission can usually be processed in a matter of days.
  </li>
</ol>
<p>For detailed information on the process, see the pages
  <%= link_to 'Getting Started as a DataSpace Contributor', 'https://researchdata.princeton.edu/research-lifecycle-guide/getting-started-dataspace-contributor' %> 
  and <%= link_to 'DataSpace Help', 'https://researchdata.princeton.edu/research-lifecycle-guide/dataspace-help' %>.
</p>
 
If you have any questions, please contact the DataSpace curators at <%= mail_to 'dspadmin@princeton.edu' %> or you can set up a data submission consultation with the 
<%= link_to 'Princeton Research Data Service', 'https://researchdata.princeton.edu/' %>. 
