<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <%= favicon_link_tag asset_path('favicon.png') %>

    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
    <%= render 'shared/plausible' %>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

  </head>
  <body class="<%= render_body_class %>">
    <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
      <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
      <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
      <%= content_for(:skip_links) %>
    </nav>

    <%= render partial: 'shared/banner' %>

    <%= render partial: 'shared/header_navbar' %>

    <main id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
      <%= content_for(:container_header) %>

      <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

      <div class="row">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/modal' %>

<script>
  $(function() {
    // Returns the value for a given query string parameter.
    // Source: https://css-tricks.com/snippets/javascript/get-url-variables/
    var queryStringParam = function(name) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0; i<vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == name){
          return pair[1];
        }
      }
      return(false);
    }

    // Returns the active facet value for a given field
    var activeFacet = function(fieldName) {
      return queryStringParam(encodeURI("f[" + fieldName + "][]"));
    }

    var hideFacetGroup = function(fieldName) {
      $(`.blacklight-${fieldName}`).remove();
    }

    // Hide the subcommunity facet unless we are faceting by community or subcommunity.
    if (!activeFacet("community_root_name_ssi") && !activeFacet("subcommunity_name_ssi")) {
      hideFacetGroup("subcommunity_name_ssi");
    }

    // Hide the collection facet unless we are faceting by the PPPL community
    // We do this because this is the only group that uses collections in DataSpace and has more than one.
    if (activeFacet("community_root_name_ssi") != "Princeton+Plasma+Physics+Laboratory") {
      hideFacetGroup("collection_name_ssi");
    }
  });
  </script>
</body>
<% end %>
