<div id="sidebar-usage" class="sidebar">
  <ul>
    <li><span id="pageviews" class="number"><%= Plausible.pageviews(@document.id) %> </span> <i class="bi bi-eye-fill"></i>views</li>
    <li><span id="downloads" class="number"><%= Plausible.downloads(@document.id) %> </span> <i class="bi bi-file-arrow-down"></i>downloads</li>
  </ul>
</div>

<div id="sidebar-keywords" class="sidebar">
  <%= render_sidebar_licenses @document.license %>
  <%= render_sidebar_subject_search_links "Keywords", @document.subject, "subject_all_ssim" %>

  <% file_counts = @document.file_counts.map { |group| "#{group[:extension]}(#{group[:file_count]})" } %>
  <%# TODO: restore the count to be 10 (3 different places below) %>
  <%if file_counts.count <= 2 %>
    <%= render_sidebar_values "File Types: ", file_counts, ", " %>
  <% else %>
    <div id="document-file-type-list">
      <%= render_sidebar_values "File Types: ", file_counts.first(2), ", " %>
    </div>
    <div id="document-file-type-list-extra" class="hidden-element">
      <%= render_sidebar_values "", file_counts.drop(2), ", " %>
    </div>
    <a id="document-file-type-list-toggle" href="#">
      <i class="bi bi-caret-down"></i><span>Show More</span>
    </a>
  <%end%>
  <br>
  <%= render_sidebar_doi_row @document.doi_url, @document.doi_value %>
  <%= render_sidebar_related_identifiers "Related Identifiers", @document.related_identifiers %>
  <% if @document.pdc_describe_record? %>
    <%= render_sidebar_value("Total Size", number_to_human_size(@document.total_file_size))%>
  <% end %>
</div>


<script>
 var setupMoreLessToggle = function(linkId, extraId) {
  $(linkId).click(function() {
    if ($(linkId).text().includes("Show Less")) {
      $(extraId).addClass("hidden-element");
      $(linkId + " i").toggleClass("bi-caret-up bi-caret-down");
      $(linkId + " span").text("Show More");
    } else {
      $(extraId).removeClass("hidden-element");
      $(linkId + " i").toggleClass("bi-caret-up bi-caret-down");
      $(linkId + " span").text("Show Less");
    }
    return false;
  });
};

setupMoreLessToggle("#document-file-type-list-toggle", "#document-file-type-list-extra");

 </script>


