<div id="sidebar-usage" class="sidebar">
  <ul>
    <li><span id="pageviews" class="number"><%= Plausible.pageviews(@document.id) %> </span> <i class="bi bi-eye-fill"></i>views</li>
    <li><span id="downloads" class="number"><%= Plausible.downloads(@document.id) %> </span> <i class="bi bi-file-arrow-down"></i>downloads</li>
  </ul>
</div>

<div id="sidebar-keywords" class="sidebar">
  <table id="sidebar-table">
    <%= render_sidebar_licenses @document.license %>
    <%= render_subject_search_links "Keywords", @document.subject, "subject_all_ssim" %>
    <% file_counts = @document.file_counts.map { |group| "#{group[:extension]}(#{group[:file_count]})" } %>
    <%= render_sidebar_row "File Types: ", file_counts.join(", ") %>
    <%= render_sidebar_doi_row @document.doi_url, @document.doi_value %>
  </table>
</div>
