<section class="document-downloads-section">
  <div class="lux">
    <div class="card">
      <div class="document-downloads card-body">
        <table id="files-table" class="table">
          <thead>
            <tr>
              <th scope="col" nowrap="nowrap"><span>#</span></th>
              <th scope="col" nowrap="nowrap"><span>Filename</span></th>
              <th scope="col"><span>Description</span></th>
              <th scope="col" nowrap="nowrap"><span>Filesize</span></th>
            </tr>
          </thead>
          <tbody>
            <% @document.files.each_with_index do |file, ix| %>
              <tr class="document-download">
                <th scope="row">
                  <span><span><%= ix + 1 %></span></span>
                </th>
                <td>
                  <span>
                    <i class="bi bi-file-arrow-down-fill"></i> <a href="#" class="documents-file-link" title="<%= file['name'] %>"><%= truncate(file["name"], length: 60) %></a>
                  </span>
                </td>
                <td>
                  <span><%= file["description"] %></span>
                </td>
                <td>
                  <span><span><%= number_to_human_size(file["size"]) %></span></span>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot></tfoot>
        </table>
        <% @document.uri.each do |uri| %>
          <%= render_globus_download(uri) if uri.include?("app.globus.org") %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(function() {

  // Wire DataTable for the file list.
  $('#files-table').DataTable();

  // Track via Plausible file downloads.
  $(".documents-file-link").click(function() {
    var filename = $(this).text();
    log_plausible(filename);
    return true;
  });

});
</script>
