<section class="document-downloads-section">
  <div>
    <div class="card">
      <div class="document-downloads card-body">

        <!-- Only render file download table if there are files in DataSpace -->

        <% if @document.embargoed? || @document.files.empty? %>
          <%= render_empty_files %>
        <% else %>
          <table id="files-table" class="table">
            <thead>
              <tr>
                <th scope="col" nowrap="nowrap"><span>#</span></th>
                <th scope="col" nowrap="nowrap"><span>Filename</span></th>
                <% if @document.data_source == "dataspace" %>
                  <th scope="col"><span>Description</span></th>
                <% end %>
                <th scope="col" nowrap="nowrap"><span>Filesize</span></th>
              </tr>
            </thead>
            <tbody>
              <% @document.files.each_with_index do |file, ix| %>
                <tr class="document-download">
                  <th scope="row">
                    <span><span><%= ix + 1 %></span></span>
                  </th>
                  <td>
                    <span>
                      <i class="bi bi-file-arrow-down"></i>
                      <a href="<%= file.download_url %>" class="documents-file-link" target="_blank" title="<%= file.full_path %>"><%= truncate(file.full_path, length: 60) %></a>
                    </span>
                  </td>
                  <% if @document.data_source == "dataspace" %>
                    <td>
                      <span><%= file.description %></span>
                    </td>
                  <% end %>
                  <td>
                    <span><span><%= number_to_human_size(file.size) %></span></span>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot></tfoot>
          </table>
        <% end %>

        <!-- End of file download table -->

        <%= render_globus_download(@document.globus_uri, @document.id) %>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(function() {

  // Wire DataTable for the file list.
  $('#files-table').DataTable();

  // Track file downloads via Plausible.
  $(".documents-file-link").click(function() {
    var filename = $(this).text();
    log_plausible_file_download(filename);
    return true;
  });

  // Track Globus downloads via Plausible.
  $(".globus-download-link").click(function() {
    var id = $(this).data('item-id');
    log_plausible_globus_download(id);
    return true;
  });
});
</script>
