<section class="document-metadata-table-section">
  <div class="lux">
    <div class="card">
      <div class="document-metadata-table card-body">
        <header>More about this record</header>
        <table id="metadata-table" class="table">
          <thead></thead>
          <tbody>
            <%= render_field_row_many "Alternative Title", @document.alternative_title %>
            <%= render_authors_many "Author", @document.authors_ordered %>
            <%= render_field_row_many "Creator", @document.creators %>
            <%= render_field_row_many "Contributor", @document.contributors %>
            <% if @document.domains.present? %>
              <%= render_field_row_search_links "Domains", @document.domains, "domain_ssim" %>
            <% end %>
            <% if @document.communities.present? %>
              <%= render_field_row_search_links "Communities", @document.communities, "communities_ssim" %>
            <% end %>
            <% if @document.subcommunities.present? %>
              <%= render_field_row_search_links "Subcommunities", @document.subcommunities, "subcommunities_ssim" %>
            <% end %>
            <% if @document.collection_tags.present? %>
              <%= render_field_row_search_links "Collection Tags", @document.collection_tags, "collection_tag_ssim" %>
            <% end %>
            <%= render_field_row "Date Accessioned", @document.accessioned_date, true %> <!-- displayed by default -->
            <%= render_field_row "Issue date", @document.issued_date, true %> <!-- displayed by default -->
            <%= render_field_row "Date Created", @document.date_created %>
            <%= render_field_row "Date Modified", @document.date_modified %>
            <%= render_field_row "Date Submitted", @document.date_submitted %>
            <%= render_field_row "Date Accepted", @document.date_accepted %>
            <%= render_field_row "Date Copyrighted", @document.date_copyrighted %>
            <% @document.uri.each do |uri| %>
              <%= render_field_row_link "URI", uri, true %> <!-- displayed by default -->
            <% end %>
            <% @document.dates_valid.each do |date_valid| %>
              <%= render_field_row "Date Valid", date_valid %>
            <% end %>
            <% @document.table_of_contents.each do |table_of_contents| %>
              <%= render_field_row "Table of Contents", table_of_contents %>
            <% end %>
            <% @document.referenced_by.each do |url| %>
              <%= render_field_row_link "Referenced by", url %>
            <% end %>
            <% @document.format.each do |format| %>
              <%= render_field_row "Format", format %>
            <% end %>
            <% @document.extent.each do |extent| %>
              <%= render_field_row "Extent", extent %>
            <% end %>
            <% @document.medium.each do |medium| %>
              <%= render_field_row "Medium", medium %>
            <% end %>
            <% @document.mimetype.each do |mimetype| %>
              <%= render_field_row "Mimetype", mimetype %>
            <% end %>
            <%= render_field_row_many "Language", @document.language %>
            <% @document.publisher.each do |publisher| %>
              <%= render_field_row "Publisher", publisher %>
            <% end %>
            <% @document.publisher_place.each do |publisher_place| %>
              <%= render_field_row "Place of Publication", publisher_place %>
            <% end %>
            <% @document.publisher_corporate.each do |publisher_corporate| %>
              <%= render_field_row "Corporate Publisher", publisher_corporate %>
            <% end %>
            <% @document.relation.each do |relation| %>
              <%= render_field_row "Relation", relation %>
            <% end %>
            <% @document.relation_is_format_of.each do |relation_is_format_of| %>
              <%= render_field_row "Relation - Is Format Of", relation_is_format_of %>
            <% end %>
            <% @document.relation_has_format.each do |relation_has_format| %>
              <%= render_field_row "Relation - Has Format", relation_has_format %>
            <% end %>
            <% @document.relation_is_part_of.each do |relation_is_part_of| %>
              <%= render_field_row "Relation - Is Part Of", relation_is_part_of %>
            <% end %>
            <% @document.relation_is_part_of_series.each do |relation_is_part_of_series| %>
              <%= render_field_row "Relation - Is Part of Series", relation_is_part_of_series %>
            <% end %>
            <% @document.relation_has_part.each do |relation_has_part| %>
              <%= render_field_row "Relation - Has Part", relation_has_part %>
            <% end %>
            <% @document.relation_is_version_of.each do |relation_is_version_of| %>
              <%= render_field_row "Relation - Is Version Of", relation_is_version_of %>
            <% end %>
            <% @document.relation_has_version.each do |relation_has_version| %>
              <%= render_field_row "Relation - Has Version", relation_has_version %>
            <% end %>
            <% @document.relation_is_based_on.each do |relation_is_based_on| %>
              <%= render_field_row "Relation - Is Based On", relation_is_based_on %>
            <% end %>
            <% @document.relation_is_referenced_by.each do |relation_is_referenced_by| %>
              <%= render_field_row "Relation - Is Referenced By", relation_is_referenced_by %>
            <% end %>
            <% @document.relation_is_required_by.each do |relation_is_required_by| %>
              <%= render_field_row "Relation - Is Required By", relation_is_required_by %>
            <% end %>
            <% @document.relation_requires.each do |relation_requires| %>
              <%= render_field_row "Relation - Requires", relation_requires %>
            <% end %>
            <% @document.relation_replaces.each do |relation_replaces| %>
              <%= render_field_row "Relation - Replaces", relation_replaces %>
            <% end %>
            <% @document.relation_is_replaced_by.each do |relation_is_replaced_by| %>
              <%= render_field_row "Relation - Is Replaced By", relation_is_replaced_by %>
            <% end %>
            <% @document.relation_uri.each do |relation_uri| %>
              <%= render_field_row "Relation URI", relation_uri %>
            <% end %>

            <% if @document.rights_name_and_uri.present? %>
              <!-- PDC Describe records have a single rights (name + uri) -->
              <%= render_field_row "Rights", @document.rights_name_and_uri[:name] %>
              <%= render_field_row_link "Rights URI", @document.rights_name_and_uri[:uri] %>
            <% else %>
              <!-- DSpace records have two unrelated fields -->
              <% @document.rights.each do |rights| %>
                <%= render_field_row "Rights", rights %>
              <% end %>
              <% @document.rights_uri.each do |rights_uri| %>
                <%= render_field_row "Rights URI", rights_uri %>
              <% end %>
            <% end %>

            <% @document.rights_holder.each do |rights_holder| %>
              <%= render_field_row "Rights Holder", rights_holder %>
            <% end %>
            <% @document.access_rights.each do |access_rights| %>
              <%= render_field_row "Access Rights", access_rights %>
            <% end %>
            <% @document.subject_classification.each do |subject_classification| %>
              <%= render_field_row_search_link "Classification", subject_classification, "subject_all_ssim" %>
            <% end %>
            <% @document.subject_ddc.each do |subject_ddc| %>
              <%= render_field_row_search_link "Dewey Decimal Classification", subject_ddc, "subject_all_ssim" %>
            <% end %>
            <% @document.subject_lcc.each do |subject_lcc| %>
              <%= render_field_row_search_link "Library of Congress Classification", subject_lcc, "subject_all_ssim" %>
            <% end %>
            <% @document.subject_lcsh.each do |subject_lcsh| %>
              <%= render_field_row_search_link "Library of Congress Subject Headings", subject_lcsh, "subject_all_ssim" %>
            <% end %>
            <% @document.subject_mesh.each do |subject_mesh| %>
              <%= render_field_row_search_link "Medical Subject Headings", subject_mesh, "subject_all_ssim" %>
            <% end %>
            <% @document.subject_other.each do |subject_other| %>
              <%= render_field_row_search_link "Subject", subject_other, "subject_all_ssim" %>
            <% end %>
            <%= render_field_row_search_links "Type", @document.genres, "genre_ssim" %>
            <% @document.peer_review_status.each do |peer_review_status| %>
              <%= render_field_row "Peer Review Status", peer_review_status %>
            <% end %>
            <% @document.translator.each do |translator| %>
              <%= render_field_row "Translator", translator %>
            <% end %>
            <% @document.isan.each do |isan| %>
              <%= render_field_row "ISAN Identifier", isan %>
            <% end %>
            <% @document.provenance.each do |provenance| %>
              <%= render_field_row "Provenance", provenance %>
            <% end %>
            <% @document.funding_agency.each do |funding_agency| %>
              <%= render_field_row "Funding Agency", funding_agency %>
            <% end %>
            <% @document.accrual_method.each do |accrual_method| %>
              <%= render_field_row "Accrual Method", accrual_method %>
            <% end %>
            <% @document.accrual_periodicity.each do |accrual_periodicity| %>
              <%= render_field_row "Accrual Periodicity", accrual_periodicity %>
            <% end %>
            <% @document.accrual_policy.each do |accrual_policy| %>
              <%= render_field_row "Accrual Policy", accrual_policy %>
            <% end %>
            <% @document.audience.each do |audience| %>
              <%= render_field_row "Audience", audience %>
            <% end %>
            <% @document.available.each do |available| %>
              <%= render_field_row "Available", available %>
            <% end %>
            <% @document.bibliographic_citation.each do |bibliographic_citation| %>
              <%= render_field_row "Bibliographic Citation", bibliographic_citation %>
            <% end %>
            <% @document.conforms_to.each do |conforms_to| %>
              <%= render_field_row "Conforms To", conforms_to %>
            <% end %>
            <% @document.coverage.each do |coverage| %>
              <%= render_field_row "Coverage", coverage %>
            <% end %>
            <% @document.spatial_coverage.each do |spatial_coverage| %>
              <%= render_field_row "Spatial Coverage", spatial_coverage %>
            <% end %>
            <% @document.temporal_coverage.each do |temporal_coverage| %>
              <%= render_field_row "Temporal Coverage", temporal_coverage %>
            <% end %>
            <% @document.education_level.each do |education_level| %>
              <%= render_field_row "Education Level", education_level %>
            <% end %>
            <% @document.instructional_method.each do |instructional_method| %>
              <%= render_field_row "Instructional Method", instructional_method %>
            <% end %>
            <% @document.other_identifier.each do |other_identifier| %>
              <%= render_field_row "Other Identifier", other_identifier %>
            <% end %>
            <% @document.mediator.each do |mediator| %>
              <%= render_field_row "Mediator", mediator %>
            <% end %>

            <!-- TODO: Claudia to add code here to display funder information if available -->

            <% @document.source.each do |source| %>
              <%= render_field_row "Source", source %>
            <% end %>
          </tbody>
          <tfoot>
            <tr id="show-more-metadata-row">
              <td>
                <a id="show-more-metadata-link" href="#"><i class="bi bi-caret-down"></i><span>Show More</span></a>
              </td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>

<script>
  $(function() {
    var setupMoreMetadataToggle = function(linkId, rowId) {

      // Wire the link to toggle between show more/show less
      $(linkId).click(function() {
        if ($(linkId).text() == "Show Less") {
          $("#metadata-table .toggable-row").toggleClass("hidden-row");
          $(linkId + " i").toggleClass("bi-caret-up bi-caret-down");
          $(linkId + " span").text("Show More");
        } else {
          $("#metadata-table .toggable-row").toggleClass("hidden-row");
          $(linkId + " i").toggleClass("bi-caret-up bi-caret-down");
          $(linkId + " span").text("Show Less");
        }
        return false;
      });

      // Remove the toogle link if there is nothing to toggle.
      var hideToogleLink = $(".toggable-row.hidden-row").length == 0;
      if (hideToogleLink) {
        $(rowId).addClass("hidden-row");
      }
    }

    setupMoreMetadataToggle("#show-more-metadata-link", "#show-more-metadata-row");
  });
</script>
