<div id="document" data-document-id="<%= @document.id %>" itemscope="itemscope" itemtype="http://schema.org/Thing" class="document">
  <div class="document-main-section">
    <header class="documentHeader row">
      <div class="col-sm-12 authors-heading">
        <h1 class="index_title document-title-heading col">
          <span itemprop="name"><%= @document.title %></span>
        </h1>
        <% @document.authors_ordered.each_with_index do |author, ix| %>
          <%= render_author(author, ix < (@document.authors_ordered.count-1)) %>
        <% end %>
      </div>
    </header>
    <% if @document.embargoed? %>
      <header class="documentHeader row">
        <div class="col-sm-12">
          <div class="document-embargo-heading col">
            <span class="badge"><%= t('document.embargo_heading', embargo_date: @document.embargo_date) %></span>
          </div>
        </div>
      </header>
    <% end %>
    <div>
      <% if @document.issued_date.present? %>
        <div class="issue-date-heading">
          Issue date: <%= @document.issued_date %>
        </div>
      <% end %>

      <%if @document.rights_enhanced.present?%>
        <div class="rights-heading">
          <b><header>Rights:</header></b>
          <% @document.rights_enhanced.each do |right|%>
            <%=right["name"]%>
            (<a href= "<%=right["uri"]%>" target="_blank"><%=right["identifier"]%></a>)
          <%end%>
        </div>
      <%end%>

      <div class="document-citation">
        <header>Cite as:
          <button id="show-apa-citation-button" type='button' class='cite-as-button btn btn-primary btn-xsm' title='Show citation'>Text</button>
          <button id="show-bibtex-citation-button" type='button' class='cite-as-button btn btn-secondary btn-xsm' title='Show BibTeX citation'>BibTeX</button>
        </header>
        <%= render_cite_as @document %>
      </div>

      <dl>
        <% @document.abstracts.each do |abstract| %>
        <dt class="blacklight-abstract_tsim col-md-3"></dt>
        <dd class="col-md-12 abstract-container">
          <div class="document-abstract">
            <header>Abstract:</header>
            <p id="document-abstract-text" class="truncate-line-clamp"><%== Rinku.auto_link(abstract, mode=:all, link_attr=nil, skip_tags=nil) %></p>
            <a id="document-abstract-text-toggle" href="#"><i class="bi bi-caret-down"></i><span>Show More</span></a>
          </div>
        </dd>
        <% end %>
      </dl>

      <dl>
        <% @document.descriptions.each do |description| %>
        <dt class="blacklight-description_tsim col-md-3"></dt>
        <dd class="col-md-12 description-container">
          <div class="document-description">
            <header>Description:</header>
            <p id="document-description-text" class="truncate-line-clamp"><%== Rinku.auto_link(description, mode=:all, link_attr=nil, skip_tags=nil) %></p>
            <a id="document-description-text-toggle" href="#"><i class="bi bi-caret-down"></i><span>Show More</span></a>
          </div>
        </dd>
        <% end %>
      </dl>
    </div>

    <%= render "show_documents" %>
    <%= render "show_metadata" %>
  </div>

</div>
