<style>
  /*
  * Source: https://blog.kritikapattalam.com/2-simple-ways-you-can-truncate-text-using-css
  */
  .truncate-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
<% @page_title = "#{@document.title} || 'untitled'" %>
<% content_for(:head) { render_link_rel_alternates } %>

<div id="document" data-document-id="<%= @document.id %>" itemscope="itemscope" itemtype="http://schema.org/Thing" class="document">
  <div class="document-main-section">
    <header class="documentHeader row">
      <div class="col-sm-12 authors-heading">
        <h1 class="index_title document-title-heading col">
          <span itemprop="name"><%= @document.title %></span>
        </h1>
        <% @document.authors.each_with_index do |author, ix| %>
          <%= render_author(author, ix < (@document.authors.count-1)) %>
        <% end %>
      </div>
    </header>

    <div class="lux">
      <% if @document.issued_date.present? %>
        <div class="issue-date-heading">
          Issue date: <%= @document.issued_date %>
        </div>
      <% end %>
      <dl>
        <% @document.abstracts.each do |abstract| %>
        <dt class="blacklight-abstract_tsim col-md-3"></dt>
        <dd class="col-md-12 abstract-container">
          <div class="document-abstract">
            <header>Abstract:</header>
            <p id="document-abstract-text" class="truncate-line-clamp"><%= abstract %></p>
            <a id="document-abstract-text-toggle" href="#"><i class="bi bi-caret-down"></i><span>Show More</span></a>
          </div>
        </dd>
        <% end %>
      </dl>

      <dl>
        <% @document.descriptions.each do |description| %>
        <dt class="blacklight-description_tsim col-md-3"></dt>
        <dd class="col-md-12 description-container">
          <div class="document-description">
            <header>Description:</header>
            <p id="document-description-text" class="truncate-line-clamp"><%= description %></p>
            <a id="document-description-text-toggle" href="#"><i class="bi bi-caret-down"></i><span>Show More</span></a>
          </div>
        </dd>
        <% end %>
      </dl>
    </div>

    <%= render "show_documents" %>
    <%= render "show_metadata" %>
  </div>

</div>

<!-- COinS citation information for Zotero and others -->
<%= @document.citation.coins&.html_safe %>

<%= render "show_sidebar" %>

<script>
  $(function() {
    var setupMoreLessToggle = function(linkId, textId) {

      // Wire the link to toggle between show more/show less
      $(linkId).click(function() {
        if ($(linkId).text() == "Show Less") {
          $(textId).addClass("truncate-line-clamp");
          $(linkId + " i").toggleClass("bi-caret-up bi-caret-down");
          $(linkId + " span").text("Show More");
        } else {
          $(textId).removeClass("truncate-line-clamp");
          $(linkId + " i").toggleClass("bi-caret-up bi-caret-down");
          $(linkId + " span").text("Show Less");
        }
        return false;
      });

      // Only show the link it text was indeed truncated
      // https://rubyyagi.com/how-to-truncate-long-text-and-show-read-more-less-button/
      var el = $(textId)[0];
      if (el !== undefined) {
        var textTruncated = (el.offsetHeight < el.scrollHeight || el.offsetWidth < el.scrollWidth)
        if (!textTruncated) {
          $(linkId).addClass("invisible");
        }
      }
    }

    setupMoreLessToggle("#document-abstract-text-toggle", "#document-abstract-text");
    setupMoreLessToggle("#document-description-text-toggle", "#document-description-text");
  });

</script>
