<style>
  /*
   * Source: https://blog.kritikapattalam.com/2-simple-ways-you-can-truncate-text-using-css
   */
  .truncate-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>

<% @page_title = "#{@document.title} || 'untitled'" %>
<% content_for(:head) { render_link_rel_alternates } %>

<div id="document" data-document-id="<%= @document.id %>" itemscope="itemscope" itemtype="http://schema.org/Thing" class="document">
  <div class="document-main-section">
  <header class="documentHeader row">
    <h1 class="index_title document-title-heading col">
      <span itemprop="name"><%= @document.title %></span>
    </h1>
    <div class="index-document-functions col-sm-3 col-lg-2">
      <!-- TODO add bookmarks -->
    </div>
  </header>

  <div class="lux">
    <dt class="blacklight-issue_date_ssim col-md-3"></dt>
    <dd class="col-md-9 blacklight-issue_date_ssim">
      <div class="document-issued-date" value="January 2017"></div>
    </dd>

    <% if @document.abstract.present? %>
      <dt class="blacklight-abstract_tsim col-md-3"></dt>
      <dd class="col-md-9 blacklight-abstract_tsim">
        <div class="document-abstract">
          <header>Abstract:</header>
          <p id="document-abstract-text" class="truncate-line-clamp"><%= @document.abstract %></p>
            <a id="document-abstract-text-toggle" href="#" class="document-abstract--collapse__button">Show More</a>
        </div>
      </dd>
    <% end %>

    <% if @document.description.present? %>
      <dt class="blacklight-description_tsim col-md-3"></dt>
      <dd class="col-md-9 blacklight-description_tsim">
        <div class="document-description">
          <header>Description:</header>
          <p id="document-description-text" class="truncate-line-clamp"><%= @document.description %></p>
            <a id="document-description-text-toggle" href="#" class="document-description--collapse__button">Show More</a>
        </div>
      </dd>
    <% end %>
  </div>

  <%= render "show_documents" %>
  <%= render "show_metadata" %>

</div>

<% content_for(:sidebar) do %>
  <%= render_document_sidebar_partial @document %>
<% end %>

<script>
$(function() {
  var setupMoreLessToggle = function(linkId, textId) {

    // Wire the link to toggle between show more/show less
    $(linkId).click(function() {
      if ($(linkId).text() == "Show Less") {
        $(textId).addClass("truncate-line-clamp");
        $(linkId).text("Show More");
      } else {
        $(textId).removeClass("truncate-line-clamp");
        $(linkId).text("Show Less");
      }
      return false;
    });

    // Only show the link it text was indeed truncated
    // https://rubyyagi.com/how-to-truncate-long-text-and-show-read-more-less-button/
    var el = $(textId)[0];
    if (el !== undefined) {
      var textTruncated = (el.offsetHeight < el.scrollHeight || el.offsetWidth < el.scrollWidth)
      if (!textTruncated) {
        $(linkId).addClass("invisible");
      }
    }
  }

  setupMoreLessToggle("#document-abstract-text-toggle", "#document-abstract-text");
  setupMoreLessToggle("#document-description-text-toggle", "#document-description-text");
});

</script>
