<div class="lux">
  <%= render(authors) %>
  <%= render(issued_dates) %>
  <%= render(abstracts) %>
  <%= render(descriptions) %>
  <%= render(methods) %>
</div>

<dl class="document-metadata dl-invert row">
  <% fields.each do |field| -%>
    <%= field %>
  <% end -%>
</dl>
